@if(isVisible) {
    <div [style.top.px]="positionY" [style.left.px]="positionX" class="menu">
        <ul>
            @if(selectedWorkspace && userWorkspacesUseCases.length > 0) {
                @if(selectedWorkspace.type !== WorkspaceType.Document && hasUseCase(UseCase.WorkspaceCreation)) {
                    <li (click)="onAction(UseCase.WorkspaceCreation)">Create</li>
                }
                @if (hasUseCase(UseCase.WorkspaceModification)) {
                    <li (click)="onAction(UseCase.WorkspaceModification)">Edit</li>
                }
                @if (hasUseCase(UseCase.WorkspaceDeletion)) {
                    <li (click)="onAction(UseCase.WorkspaceDeletion)">Delete</li>
                }
            }
        </ul>
      </div>
}

@if (showConfirmationDialog) {
    <app-confirmation-dialog
        (confirm)="confirmDeletion()"
        (cancel)="cancelDeletion()">
    </app-confirmation-dialog>
}
