.mb-bg-gradient {
    background: linear-gradient(45deg, #4caf50, #81c784, #66bb6a, #4db6ac);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    10% {
        background-position: 20% 40%;
    }
    25% {
        background-position: 15% 60%;
    }
    40% {
        background-position: 50% 30%;
    }
    55% {
        background-position: 70% 70%;
    }
    70% {
        background-position: 80% 20%;
    }
    85% {
        background-position: 30% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  
  .max-w-md {
    max-width: 450px;
  }