.sidebar {
    width: 100%;
    background-color: #f8f9fa;
    padding: 1rem 0;
    border-right: 1px solid #dee2e6;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    min-height: 100vh;

    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        padding: 0;
        list-style-type: none;

        li {
            margin: 0.5rem 0;

            strong {
                color: #343a40;
            }

            ul {
                margin-left: 1rem;
            }
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}
